
#u2511_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2511.selected {
}
#u2512 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2513 {
  position:absolute;
  left:892px;
  top:58px;
  width:103px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2513_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2513.selected {
}
#u2514 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2515_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:95px;
  height:5px;
}
#u2515 {
  position:absolute;
  left:388px;
  top:73px;
  width:92px;
  height:2px;
}
#u2516 {
  position:absolute;
  left:2px;
  top:-7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2517 {
  position:absolute;
  left:12px;
  top:11px;
  width:324px;
  height:47px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2518 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2519 {
  position:absolute;
  left:995px;
  top:58px;
  width:103px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2519_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2519.selected {
}
#u2520 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2521 {
  position:absolute;
  left:686px;
  top:58px;
  width:103px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2521_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2521.selected {
}
#u2522 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2523_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:95px;
  height:5px;
}
#u2523 {
  position:absolute;
  left:692px;
  top:73px;
  width:92px;
  height:2px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:-7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
